<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MealPlanner">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.auth.LoginActivity" />
        <activity android:name=".ui.auth.SignupActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.browse.BrowseActivity" />
        <activity android:name=".ui.meals.MealListActivity" />
        <activity
            android:name=".ui.detail.RecipeDetailActivity"
            android:theme="@style/Theme.MealPlanner.Detail" />
        <activity android:name=".ui.favourites.FavoritesActivity" />
        <activity android:name=".ui.planner.MealPlanActivity" />

    </application>

</manifest>
